.pregunta1{
    background-color: yellowgreen;
}
#first-div{
    font-family: monospace;
}
.pregunta3{
    color: darkblue;
}
.pregunta6{
    color: black;
}
.pregunta7{
    font-family:cursive;
}
.pregunta8{
    background-color:lightcoral;
}